button {
  border: none;
  background-color: var(--blue-700);
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  color: var(--text-colour);
}

button:hover {
  background-color: var(--green-700);
}

.equals {
  grid-column: 3 / 5;
  background-color: var(--accent-colour);
}

.equals:hover {
  background-color: var(--pink-500);
}
