@import "css-reset.css" layer(reset);

:root {
  /* Astro defaults, consider changing */
  --bg-colour: #0e1024;
  --blue-700: #394193;
  --blue-800: #2e3476;
  --blue-900: #222758;
  --green-600: #066689;
  --green-700: #044962;
  --text-colour: #f9efe5;
  --pink-100: #ff99e2;
  --pink-300: #ff3cc7;
  --pink-500: #f500af;
  --pink-800: #a30075;
  --accent-colour: var(--pink-300);
  --accent-light: var(--pink-100);
  --accent-dark: var(--pink-800);
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent-colour)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );

  /* Text sizes */
  --text-lg: 1.25rem;
  --text-xl: 1.65rem;
  --text-2xl: 2.25rem;
  --text-3xl: 3rem;
  --text-4xl: 3.75rem;
  --text-5xl: 4.5rem;

  /* Fonts */
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: Exo, "Public Sans", var(--font-system);
  --font-headers: Saira, var(--font-system);
}

html {
  font-family: system-ui, sans-serif;
  background: var(--bg-colour);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
}

h1 {
  font-family: var(--font-headers);
}

a {
  color: white;

  &:hover {
    color: var(--accent-colour);
  }

  &.is-icon-only {
    text-decoration: none;
  }

  & > i {
    outline: none;
    /* border: 1px solid pink; */
  }
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
