---
import CalculatorComponent from "../components/react/Calculator";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Calculator">
  <h1>Calculator</h1>
  <CalculatorComponent client:load />
</Layout>
