---
const isHomePage = Astro.url.pathname === "/";
---

<a
  href="/"
  class:list={["link-to-home", "is-icon-only", { hidden: isHomePage }]}
>
  <i class="ri-planet-line ri-1x"></i>
</a>

<style>
  .link-to-home {
    position: absolute;
    top: 1rem;
    left: 1rem;
    opacity: 0.5;
  }

  .link-to-home:hover {
    opacity: 1;
  }
</style>
