---
import HtmlHead from "../components/HtmlHead.astro";

type Props = {
  title: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <HtmlHead title={title} description={description} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-inline: 3rem;
  }
</style>
